<footer>
  <div class="left">
    <small>
      <p>Team presentation &copy; 2023</p>
    </small>
    <img src="./assets/images/unstoppable.png" alt="unstoppable" class="footer-logo" />
  </div>
  <nav class="footer-bar">
    <ul class="footer-list">
      <li><a class="link-footer" href="https://vanesagr.github.io/Team-presentation/#team">EQUIPO</a></li>
      <li><a class="link-footer" href="https://vanesagr.github.io/Team-presentation/#quienes-somos">QUIENES SOMOS</a></li>
      <li><a class="contact-link-footer" href="contact.html">CONTACTO</a></li>
    </ul>
  </nav>
</footer>